<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Propiedades</title>
    <!-- Agrega tus enlaces a CSS, Bootstrap u otros estilos aquí -->
</head>
<body>
    <div id="propertyList" class="row">
        <!-- Aquí se insertarán las propiedades -->
    </div>

    <!-- Importa el script propertyList.js -->
    <script type="module" src="../js/listarPropiedad.js"></script>

    <!-- Llama a la función displayProperties() -->
    
</body>
</html>
